* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lime;
}
.field_input {
  width: 15%;
  height: 30px;
  text-align: center;
  margin: 40px;
  border-radius: 50px;
}

.button_research {
  width: 7%;
  height: 20px;
}

.covers {
  margin-left: 40px;
}

.yellow {
  color: yellow;
}

.flags{
  height: 20px;
}
